{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/context/show.css') }}">
{% endblock %}

{% block title %}Context{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>{{ context.title }}<a href="{{ path('context_edit', {'id': context.id}) }}"><i class="fa fa-pen icon-pen"></i></a></h1>
        </div>

    </main>
{% endblock %}
