/************************************************** STYLE COMMUN *****************************************************/

@font-face {
    font-family: "Dosis";
    src: url("../fonts/Dosis-Medium.ttf");
}

body {
    background-color: #FAFAFA;
    font-family: Dosis, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    width: 100%;
    padding-top: 20px;
}

.separator {
    position: relative;
    left: 80px;
    width: 600px;
    border-bottom: 2px solid #e6e6e6;
}

.separator-bottom{
    margin: 100px 0 100px 80px;
    border-bottom: 2px solid #e6e6e6;
}

h1 {
    font-weight: normal;
    font-size: 25px;
    color: #676767;
}

h2, h3 {
    font-size: 20px;
    color: #4f4f4f;
    border-bottom: 2px solid #e6e6e6;
}

a {
    text-decoration: none;
}

.bolder {
    font-weight: bolder;
    color: #C82829;
}

/************************************************** NAVBAR ***********************************************************/

nav {
    top: 0;
    height: 75px;
    background-color: #505050;
}

nav ul {
    margin: 0;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
    border: none;
    outline: none;
    color: #C5C5C5;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #676767;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #A8A8A8;
}
.dropdown:hover .dropdown-content {
    display: block;
}

nav ul li:nth-child(1) {
    flex-grow: 1;
}

nav ul li:nth-child(3) {
    margin-right: 30px;
    margin-left: 15px;
}

li {
    list-style: none;
}

#nav-logo {
    height: 35px;
}

#nav-avatar {
    height: 60px;
    padding-top: 5px;
}

#nav-avatar {
    border-radius: 50%;
}

.icon-angle-nav {
    margin: 3px;
    height: 10px;
}


/************************************************** FOOTER ***********************************************************/

footer {
    height: 180px;
    width: 100%;
    background-color: #505050;
    padding-top: 50px;
    color: #C5C5C5;
    font-size: 18px;
}

footer > p {
    text-align: center;
    margin-bottom: 30px;
}

footer > ul {
    display: flex;
    justify-content: center;
}

footer > ul > li {
    margin-right: 15px;
}

.footer-bolder, footer span {
    font-weight: bolder;
}

footer a, footer a:link {
    text-decoration: none;
    color: #C5C5C5;
}

footer > ul > li > a:hover {
    color: #E3E3E3;
}

/************************************************** ACCUEIL USER *****************************************************/

.contexts-container {
    width: 90%;
    margin: 0 auto;
    padding: 50px;
    color: #676767;
    display: flex;
    flex-wrap: wrap;
}

.context-space {
    height: 200px;
    width: 220px;
    margin: 20px 40px;
    padding: 30px;
    border: 5px solid #CECECE;
    display: flex;
    flex-direction: column;
}

.context-space:hover {
    border: 5px solid #A4A4A4;
}

.context-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
}

.context-days {
    flex-grow: 1;
}

.icon-context {
    font-size: 25px;
    color: #676767;
    align-self: flex-end;
}

.icon-context:hover {
    font-size: 30px;
}

.contexts-link {
    text-decoration: none;
    color: #676767;
}

.context-text {
    flex-grow: 1;
}

.context-plus {
    font-family: Verdana, sans-serif;
    font-size: 200px;
    font-weight: lighter;
    align-self: center;
    margin-top: -10%;
}

#days-end {
    font-weight: bolder;
}

.days-edit-icon {
    display: flex;
    align-items: baseline;
}

/***************************************************** EDIT USER *****************************************************/

.edit-container-users form {
    margin-left: 320px;
}

#users_edit_first_name, #users_edit_last_name, #users_edit_username, #users_edit_email, #users_password_password, #password-confirmation {
    height: 30px;
    width: 330px;
    padding-left: 15px;
    outline: none;
}

#users_password_password {
    margin-left: 20px;
}

#password-confirmation {
    margin-left: 15px;
}

#edit-avatar {
    position: absolute;
    left: 130px;
    top: 230px;
    height: 130px;
    border-radius: 50%;
}

#edit-change-password {
    padding: 8px 12px;
    color: #646464;
    font-size: 0.9em;
    background-color: #EBEBEB;
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-left: 155px;
    text-align: center;
    text-decoration: none;
}

#edit-change-password:hover {
    background-color: #F8F8F8;
    cursor: pointer;
}

.form-buttons-password {
    width: 600px;
    margin: 100px 0 0 100px;
}

#users_password {
    width: 600px;
    margin-left: -200px;
}

#password-confirme {
    width: 600px;
    margin-left: -200px;
    margin-top: 30px;
}

label {
    margin-left: 10px;
    font-size: 16px;
}

.field ul {
    display: none;
}

.form-errors-container {
    margin: 0 0 50px 160px;
    font-size: 1em;
    color: #C82829;
}

.form-errors-container ul {
    padding: 0;
}

/************************************************** SHOW CONTEXT******************************************************/

.icon-pen {
    padding-left: 15px;
    font-size: 22px;
    color: #676767;
}

.upload-files, .imported-files {
    margin: 50px 0 0 200px;
    padding: 20px 20px 40px 20px;
    width: 60%;
    background-color: #f5f5f5;
    border-radius: 10px;
}

#file-messages {
    margin-left: 35px;
    color: #757575;
    font-weight: bolder;
}

.icon-check, .icon-erreur, .icon-loading {
    font-size: 20px;
    margin-right: 18px;
}

i.icon-check {
    color: #009a00;
}

i.icon-erreur {
    color: #C82829;
}

i.icon-loading {
    color: #EBC600;
}

.import-line {
    display: flex;
    justify-content: space-between;
}

.import-line > .import-line-content > a {
    text-decoration: none;
    color: #4f4f4f;
}

.import-line > .import-line-content > a:hover {
    font-size: 18px;
    font-weight: bolder;
}

.import-delete {
    text-decoration: none;
    border: none;
    background: transparent;
}

.import-delete:hover {
    cursor: pointer;
}

.fa-trash-alt {
    font-size: 20px;
    color: #a6a6a6;
    padding: 10px;
}

#import-delete-form {
    margin: 0;
    padding: 0;
}

#import_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label:hover {
    background-color: #FBFBFB;
}

#import div label {
    padding: 10px 30px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    color: #646464;
    font-size: 15px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.btn-file {
    padding: 12px 20px;
    border-radius: 3px;
    background-color: #757575;
    color: #e6e6e6;
    border: none;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.btn-file:hover {
    background-color: #5c5c5c;
}

.btn-file:disabled {
    display: none;
}

.select-files-container {
    display: flex;
    align-items: baseline;
    margin: 30px 0 0 30px;
}

.file-errors-container {
    margin: 0;
    color: #757575;
    font-weight: bolder;
    width: 65%;
}

#import ul li {
    display: none;
}

.alert-import {
    margin-top: 15px;
}

.icon-reload {
    margin-left: 15px;
    font-size: 1.2em;
    color: #757575;
}

.icon-reload:hover {
    font-size: 1.4em;
}

#title-context-container {
    display: flex;
    align-items: baseline;
}

#share-context {
    text-decoration: none;
    margin-left: 20px;
    color: #757575;
}

#share-context:hover {
    font-weight: bolder;
}

#cancel-share-context {
    padding: 13px 0 !important;
    text-align: center;
}


.icon-shared-context i.share-context {
    color: #009a00;
    margin-right: 10px;
}


/************************************************** EDIT CONTEXT *****************************************************/

.edit-container form {
    margin-left: 150px;
}

.field {
    color: #676767;
}

#context, #macro {
    width: 550px;
}

#context_title, #context_description, #context_duration, #macros_title, #macros_description, #macros_code, #macros_type {
    height: 30px;
    width: 330px;
    padding-left: 15px;
    outline: none;
}

::placeholder {
    font-size: 15px;
}

.context-delete {
    text-decoration: none;
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    right: -50px;
}

.context-delete:hover, .macro-delete:hover, .macro-delete-form:hover {
    cursor: pointer;
}

.fa-trash-alt {
    font-size: 20px;
    color: #a6a6a6;
    padding: 10px;
}

#context-delete-form, .macro-delete-form {
    margin: 0;
    padding: 0;
    width: 10px;
}

.field ul {
    display: none;
}

.form-errors-container {
    margin: 0 0 0 160px;
    font-size: 1em;
    color: #C82829;
}


/************************************************** MACROS ***********************************************************/

.container-macros {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.title-macros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 400px;
    margin-top: 2%;
}

.macro-line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 1%;
    border-bottom: 2px solid #FAFAFA;
}

.macro-description {
    width: 70%;
}

.macro-title {
    width: 20%;
}

.content-macros {
    background-color: #F5F5F5;
    padding: 50px 150px;
}

.icon-shared-macros > p {
    color: #AAAAAA;
}

.icon-shared-macros > p:hover {
    font-weight: bolder;
}

.macro-line > p > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
}

.macro-title {
    margin-right: 30px;
}

.icon-angle, .icon-pen-macros, .icon-delete-macro {
    font-size: 22px;
    color: #676767;
}

.icon-angle {
    margin: 0 30px 0 5px;
    color: #000000;
}

.icon-pen-macros {
    margin: 0 25px;

}

.title-macros > h2 {
    color: #000000;
    margin-bottom: 50px;
    border: none;
}

#no-macro {
    text-align: center;
}

.macro-share:hover {
    cursor: pointer;
}

.macro-delete {
    background: none;
    border: none;
    color: #000000;
}

.separator-container {
    display: flex;
    justify-content: space-between;
}

.separator-container a {
    height: 5%;
    align-self: flex-end;
}

#macro_code {
    height: 150px;
    padding-top: 10px;
    font-family: Verdana, Geneva, sans-serif;
}

span.select2 {
    margin: 13px 0 0 13px;
}

input.select2-search__field::placeholder {
    padding-left: 10px;
}

.new-macro-form .select-style > span.select2 {
    width: 620px !important;
}


/************************************************** BOUTONS **********************************************************/

.button-new-macro {
    margin-right: 5%;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    padding: 12px 30px 15px 30px;
    border: none;
    background-color: #757575;
    color: #e6e6e6;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

#btn-edit-macro, .edit-context, .edit-macros, #btn-create-macro, #modal-send, #btn-share-context, .create-user, .edit-user, .edit-user-password {
    color: #EBEBEB;
    background-color: #7F7F7F;
    width: 200px;
    height: 45px;
}

#btn-edit-macro, .edit-context, .edit-macros, .form-cancel, #modal-cancel, #cancel-share-context, #btn-create-macro, #modal-send, #btn-share-context, .create-user, .edit-user, .edit-user-password {
    font-size: 0.9em;
    border: none;
    outline: none;
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.form-cancel, #modal-cancel, #cancel-share-context {
    color: #646464;
    background-color: #EBEBEB;
    text-decoration: none;
    padding: 13px 50px;
    margin-left: 10px;
}

.form-cancel:hover {
    background-color: #d1d1d1;
    cursor: pointer;
}

.form-cancel:hover, #modal-cancel:hover, #cancel-share-context:hover {
    background-color: #F8F8F8;
    cursor: pointer;
}

.edit-context:hover, .edit-macros:hover, #btn-edit-macro:hover, .button-new-macro:hover, #btn-create-macro:hover, #modal-send:hover, #btn-share-context:hover, .create-user:hover, .edit-user:hover, .edit-user-password:hover {
    background-color: #6B6B6B;
    cursor: pointer;
}

.form-buttons {
    width: 600px;
    margin-left: 400px;
}


/************************************************ TOOLTIP **********************************************************/

.hover-message-container {
    position: relative;
    display: inline-block;
}

.hover-message-container .hover-message-text {
    visibility: hidden;
    width: 150px;
    background-color: #FFFFFF;
    color: #757575;
    text-align: center;
    font-size: 0.9em;
    font-weight: normal;
    border-radius: 2px;
    padding: 10px 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 1;
}

.hover-message-container:hover .hover-message-text {
    visibility: visible;
}

.context-space  .hover-message-text, .new-context .hover-message-text {
    width: 200px;
    background-color: #7F7F7F;
    color: #FFFFFF;
    border-radius: 5px;
}



/**************************************************** ALERTES ********************************************************/

.alert {
    color: #FFFFFF;
    width: 600px;
    position: absolute;
    right: 5%;
    top: 10%;
    height: 80px;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.alert-error {
    background-color: rgba(193,16,7, 0.7);
}

.alert-success {
    background-color: #65C36E;
}

.alert p {
    margin-left: 20px;
}

.alert .fa-times, #icon-close-modal {
    color: #EBEBEB;
    margin-right: 20px;
    font-weight: bolder;
}

.alert .fa-times:hover, #icon-close-modal:hover, #icon-share-context-modal:hover {
    font-size: 1.5em;
    cursor: pointer;
}

#icon-close-modal {
    color: #4f4f4f;
    position: absolute;
    right: 15%;
}

#icon-share-context-modal {
    color: #4f4f4f;
    position: absolute;
    right: 35%;
}

.alert .fa-check-circle, .alert .fa-exclamation-circle {
    margin-left: 20px;
    font-size: 2em;
}

.fa-check-circle {
    color: #ACDEB0;
}

.fa-exclamation-circle {
    color: #E19A8C;
}

.alert-message {
    display: flex;
    align-items: baseline;
}

#alerts-container {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/************************************************* FORMS **************************************************************/

.edit-new-form {
    width: 500px;
    padding-top: 50px;
}

#edit-password {
    margin-left: 320px;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0;
}

.new-form {
    padding-top: 50px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}

.form-input, .new-macro-form-input {
    height: 30px;
    width: 330px;
    margin: 13px;
    padding-left: 15px;
    outline: none;
}

.form > form {
    padding-top: 50px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}

.new-macro-form-input {
    height: 40px;
    width: 600px;
}

#cancel-share-context {
    padding: 10px 0;
    text-align: center;
}

#btn-share-context {
    height: 37px !important;
}

.share-context-buttons {
    margin: 10% 10%;
}

/**************************************************** ERROR MESSAGES ***********************************************/

#macro_columns > div > ul {
    display: none;
}

/*************************************************** FORM DELETE ****************************************************/
.form-delete {
    margin: 0;
    padding: 0;
    width: 10px;
}

.form-delete:hover {
    cursor: pointer;
}

/*************************************************** POP-IN *********************************************************/

.overlay {
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(0,0 ,0 , 0.5);
    width: 100%;
    height: 100%;
    z-index:1;
    display: none;
}

.modal-small, .modal {
    margin: 10% auto;
    width : 30%;
    height: 30%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: none;
}

#modal-message > p, .share-context-modal-message > p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10%;
}

#modal-message i.fa-check, .share-context-modal-message i.fa-check {
    color: #65C36E;
    font-size: 2.5em;
    margin-left: 45%;
}

#modal-message i.fa-exclamation-circle, .share-context-modal-message i.fa-exclamation-circle {
    color: rgba(193,16,7, 0.7);
    font-size: 2.5em;
    margin-left: 45%;
}

#modal-message, .share-context-modal-message {
    margin: 10% auto;
    width : 20%;
    height: 20%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.container-macros {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.title-macros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 40%;
    height: 50px;
}

.macro-line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.macro-description {
    width: 70%;
}

.macro-title {
    width: 20%;
}

.macro-edit, .macro-share, .div-macro-delete {
    width: 5%;
}

.content-macros {
    background-color: #F5F5F5;
    padding: 2% 5%;
    width: 80%;
    margin: 2.5% auto;
    border-radius: 2%;
}

.macro-line > p > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
}

.macro-title {
    margin-right: 30px;
}

.icon-angle, .icon-pen-macros {
    font-size: 22px;
    color: #676767;
}

.icon-angle {
    margin: 0 30px 0 5px;
    color: #000000;
}

.icon-pen-macros {
    margin: 0 25px;
}

h2.popin {
    color: #000000;
    margin-bottom: 50px;
}

#no-macro {
    text-align: center;
}

.macro-share:hover, .macro-delete:hover {
    cursor: pointer;
}

div.icon-shared-context {
    display: flex;
    align-items: baseline;
    color: #009a00 !important;
}

div.icon-shared-macros i {
    color: #009a00 !important;
    align-self: center;
    font-size: 1.2em;
}

div.icon-shared-context:hover, div.icon-shared-macros {
    cursor: pointer;
}

/************************************************ SELECT *************************************************************/

/******** NEW USER ************/

select {
    margin-left: 50px;
    margin-top: 13px;
    width: 350px;
    height: 70px;
    padding-left: 5px;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    color: #646464;
}

select option {
    margin: 10px;
}

.form-buttons {
    width: 600px;
    margin: 80px 0 0 300px;
}

span.select2 {
    margin: 13px 0 0 13px;
}

input.select2-search__field::placeholder {
    padding-left: 10px;
}

form ul {
    margin: 0;
    font-size: 0.9em;
    /*color: #C82829;*/
}

/******** MODAL ************/

#share_context_users, #share_macro_users {
    width: 500px;
}

#share-context-form {
    margin-top: 10%;
}

#share-context {
    text-decoration: none;
    margin-left: 20px;
    color: #757575;
}

#share-context:hover {
    font-weight: bolder;
}


/************************************************ ADMIN **************************************************************/

td > a, #button-new-user {
    text-decoration: none;
    color: #676767;
    font-weight: bolder;
}

th {
    background-color: #d9d9d9;
    width: 250px;
    height: 50px;
    color: #4d4d4d;
}

td {
    height: 40px;
}

tr {
    background-color: #fcfafa;
}

.change-user-status {
    height: 22px;
    margin-left: 10px;
}

.admin-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#button-new-user {
    position: relative;
    right: 50px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    height: 30px;
    padding: 15px 20px 8px 20px;
    border: none;
    background-color: #757575;
    color: #e6e6e6;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 20px;
}

#button-new-user:hover {
    background-color: #6b6b6b;
}

#empty-users {
    text-align: center;
}

.user-lock {
    background-color: #BABABA;
    color: #2A2A2A;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    margin-left: 10px;
}

.user-lock:hover {
    background-color: #D7D7D7;
    cursor: pointer;
}

#user-blocked {
    font-weight: bolder;
}

.admin-actions {
    display: flex;
    justify-content: center;
}

.user-delete {
    text-decoration: none;
    border: none;
    background: transparent;
}

.user-delete:hover {
    cursor: pointer;
}

.fa-trash-alt {
    font-size: 20px;
    color: #a6a6a6;
    padding: 10px;
}

/***************************************************  ON/OFF BUTTON **************************************************/

.block-user-switch {
    margin: 0 auto;
    position: relative;
    width: 70px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}

.block-user-switch-checkbox {
    display: none;
}

.block-user-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    padding: 0;
    line-height: 30px;
    border: 2px solid #E3E3E3;
    border-radius: 36px;
    background-color: #F04A4A;
    transition: background-color 0.3s ease-in;
}

.block-user-switch-label:before {
    content: "";
    display: block;
    width: 30px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 35px;
    border: 2px solid #E3E3E3;
    border-radius: 36px;
    transition: all 0.3s ease-in 0s;
}

.active + .block-user-switch-label {
    background-color: #87C286;
}

.active + .block-user-switch-label, .active + .block-user-switch-label:before {
    border-color: #87C286;
}

.active + .block-user-switch-label:before {
    right: 0px;
}

i.icon-new-user {
    margin-right: 10px;
}


