@font-face {
    font-family: "Dosis";
    src: url("../fonts/Dosis-Medium.ttf");
}

body {
    background-color: #FAFAFA;
    font-family: Dosis, Geneva, sans-serif;
}

.bolder {
    font-weight: bolder;
    color: #C82829;
}

h2, h3 {
    font-size: 20px;
    color: #4f4f4f;
    border-bottom: 2px solid #e6e6e6;
}

/***************************************** TOOLTIP *************************************************/

.hover-message-container {
    position: relative;
    display: inline-block;
}

.hover-message-container .hover-message-text {
    visibility: hidden;
    width: 150px;
    background-color: #FFFFFF;
    color: #757575;
    text-align: center;
    font-size: 0.9em;
    border-radius: 2px;
    padding: 10px 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 1;
}

.hover-message-container:hover .hover-message-text {
    visibility: visible;
}

.context-space  .hover-message-text, .new-context .hover-message-text {
    width: 200px;
    background-color: #7F7F7F;
    color: #FFFFFF;
    border-radius: 5px;
}

/******************************************** ALERTES *************************************************/

.alert {
    color: #FFFFFF;
    width: 600px;
    position: absolute;
    right: 5%;
    top: 10%;
    height: 80px;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.alert-error {
    background-color: rgba(193,16,7, 0.7);
}

.alert-success {
    background-color: #65C36E;
}

.alert p {
    margin-left: 20px;
}

.alert .fa-times, #icon-close-modal {
    color: #EBEBEB;
    margin-right: 20px;
    font-weight: bolder;
}

.alert .fa-times:hover, #icon-close-modal:hover, #icon-share-context-modal:hover {
    font-size: 1.5em;
    cursor: pointer;
}

#icon-close-modal {
    color: #4f4f4f;
    position: absolute;
    right: 15%;
}

#icon-share-context-modal {
    color: #4f4f4f;
    position: absolute;
    right: 35%;
}

.alert .fa-check-circle, .alert .fa-exclamation-circle {
    margin-left: 20px;
    font-size: 2em;
}

.fa-check-circle {
    color: #ACDEB0;
}

.fa-exclamation-circle {
    color: #E19A8C;
}

.alert-message {
    display: flex;
    align-items: baseline;
}

#alerts-container {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/************************************************ FORM BUTTONS ***************************************************/

.form-cancel, #modal-cancel, #cancel-share-context {
    color: #646464;
    background-color: #EBEBEB;
    text-decoration: none;
    padding: 13px 50px;
    margin-left: 10px;
    font-size: 1em;
    border: none;
    outline: none;
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;

}

#btn-create-macro, #modal-send, #btn-share-context {
    color: #EBEBEB;
    background-color: #7f7f7f;
    width: 200px;
    height: 45px;
    font-size: 1em;
    border: none;
    outline: none;
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.form-cancel:hover, #modal-cancel:hover, #cancel-share-context:hover {
    background-color: #F8F8F8;
    cursor: pointer;
}

#btn-create-macro:hover, #modal-send:hover, #btn-share-context:hover {
    background-color: #6B6B6B;
    cursor: pointer;
}

.share-context-buttons {
    margin: 10% 10%;
}

/**************************************************** ERROR MESSAGES ***********************************************/

#macro_columns > div > ul {
    display: none;
}

/*************************************************** FORM DELETE ****************************************************/
.form-delete {
    margin: 0;
    padding: 0;
    width: 10px;
}

.form-delete:hover {
    cursor: pointer;
}

/*************************************************** POP-IN *********************************************************/

.overlay {
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(0,0 ,0 , 0.5);
    width: 100%;
    height: 100%;
    z-index:1;
    display: none;
}

.modal-small {
    margin: 10% auto;
    width : 30%;
    height: 30%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: none;
}

#modal-message > p, .share-context-modal-message > p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10%;
}

#modal-message i.fa-check, .share-context-modal-message i.fa-check {
    color: #65C36E;
    font-size: 2.5em;
    margin-left: 45%;
}

#modal-message i.fa-exclamation-circle, .share-context-modal-message i.fa-exclamation-circle {
    color: rgba(193,16,7, 0.7);
    font-size: 2.5em;
    margin-left: 45%;
}

#modal-message, .share-context-modal-message {
    margin: 10% auto;
    width : 20%;
    height: 20%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.container-macros {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.title-macros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 400px;
}

.macro-line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.macro-description {
    width: 70%;
}

.macro-title {
    width: 20%;
}

.macro-edit, .macro-share, .div-macro-delete {
    width: 5%;
}

.content-macros {
    background-color: #FAFAFA;
    padding: 50px 150px;
}

.macro-line > p > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
}

.macro-title {
    margin-right: 30px;
}

.icon-angle, .icon-pen-macros {
    font-size: 22px;
    color: #676767;
}

.icon-angle {
    margin: 0 30px 0 5px;
    color: #000000;
}

.icon-pen-macros {
    margin: 0 25px;
}

h2 {
    color: #000000;
    margin-bottom: 50px;
}

#no-macro {
    text-align: center;
}

.macro-share:hover, .macro-delete:hover {
    cursor: pointer;
}

div.icon-shared-context {
    display: flex;
    align-items: baseline;
    color: #009a00 !important;
}

div.icon-shared-macros i {
    color: #009a00 !important;
    align-self: center;
    font-size: 1.2em;
}

div.icon-shared-context:hover, div.icon-shared-macros {
    cursor: pointer;
}

/************************************************ SELECT MODAL *******************************************************/

#share_context_users, #share_macro_users {
    width: 500px;
}

#share-context-form {
    margin-top: 10%;
}

#share-context {
    text-decoration: none;
    margin-left: 20px;
    color: #757575;
}

#share-context:hover {
    font-weight: bolder;
}

#cancel-share-context {
    padding: 13px 0 !important;
    text-align: center;
}

