{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/context/show.css') }}">{% endblock %}

{% block title %}DOMMA - Import{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Coucou</h1>
        </div>


    </main>

{% endblock %}
