{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/context/show.css') }}">{% endblock %}

{% block title %}DOMMA - Import{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>{{ import.file }}</h1>
        </div>

        <div class="file-container">
            {% if import.status == 'En attente' %}
                <p><i class="fas fa-spinner fa-2x icon-loading"></i> En cours de chargement...</p>
            {% else %}
                <p>Les données :)</p>
            {% endif %}
        </div>
    </main>

{% endblock %}
