body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}

main {
    min-height: 100vh;
    width: 100%;
    padding-top: 20px;
}

h1 {
    font-weight: normal;
    font-size: 25px;
    color: #676767;
}

.separator {
    position: relative;
    left: 80px;
    width: 600px;
    border-bottom: 2px solid #e6e6e6;
}

.separator-bottom {
    margin: 100px 0 0 80px;
    border-bottom: 2px solid #e6e6e6;
}

.form > form {
    padding-top: 50px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}

.form-input {
    height: 40px;
    width: 600px;
    margin: 13px;
    padding-left: 15px;
    outline: none;
}

.form-cancel {
    color: #646464;
    background-color: #EBEBEB;
    text-decoration: none;
    padding: 13px 50px;
    margin-left: 10px;
    font-size: 1em;
    border: none;
    outline: none;
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;

}

#btn-create-macro {
    color: #EBEBEB;
    background-color: #7f7f7f;
    width: 200px;
    height: 45px;
    font-size: 1em;
    border: none;
    outline: none;
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.form-cancel:hover {
    background-color: #F8F8F8;
    cursor: pointer;
}

#btn-create-macro:hover {
    background-color: #6B6B6B;
    cursor: pointer;
}

.form-buttons-macro {
    width: 600px;
    margin: 80px 0 0 300px;
}

#macro_code {
    height: 150px;
    padding-top: 10px;
    font-family: Verdana, Geneva, sans-serif;
}

span.select2 {
    margin: 13px 0 0 13px;
}

input.select2-search__field::placeholder {
    padding-left: 10px;
}

.select-style > span.select2 {
    width: 620px !important;
}


/*************************************** INDEX MACRO ********************************************/

.container-macros {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.title-macros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 400px;
    margin-top: 2%;
}

.macro-line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.macro-description {
    width: 70%;
}

.macro-title {
    width: 20%;
}

.content-macros {
    background-color: #F5F5F5;
    padding: 50px 150px;
}

.macro-line > p > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
}

.macro-title {
    margin-right: 30px;
}

.icon-angle, .icon-pen-macros, .icon-delete-macro {
    font-size: 22px;
    color: #676767;
}

.icon-angle {
    margin: 0 30px 0 5px;
    color: #000000;
}

.icon-pen-macros {
    margin: 0 25px;

}

.title-macros > h2 {
    color: #000000;
    margin-bottom: 50px;
    border: none;
}

#no-macro {
    text-align: center;
}

.macro-share:hover {
    cursor: pointer;
}

.macro-delete {
    background: none;
    border: none;
    color: #000000;
}

.separator-container {
    display: flex;
    justify-content: space-between;
}

.separator-container a {
    height: 5%;
    align-self: flex-end;
}