body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}

main {
    height: 100vh;
    width: 100%;
    padding-top: 20px;
}

h1 {
    font-weight: normal;
    font-size: 25px;
    color: #676767;
}

.separator {
    position: relative;
    left: 80px;
    width: 600px;
    border-bottom: 2px solid #e6e6e6;
}

.separator-bottom{
    margin: 100px 0 0 80px;
    border-bottom: 2px solid #e6e6e6;
}

form {
    padding-top: 50px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}

.form-input {
    height: 30px;
    width: 330px;
    margin: 13px;
    padding-left: 15px;
    outline: none;
}

.create-user {
    color: #EBEBEB;
    background-color: #7f7f7f;
    width: 200px;
    height: 45px;
    font-size: 1em;
    border: none;
    outline: none;
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

#form-cancel {
    color: #646464;
    background-color: #EBEBEB;
    text-decoration: none;
    padding: 13px 50px;
    margin-left: 10px;
    font-size: 1em;
    border: none;
    outline: none;
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;

}

#form-cancel:hover {
    background-color: #F8F8F8;
    cursor: pointer;
}

.create-user:hover {
    background-color: #6B6B6B;
    cursor: pointer;
}

::placeholder {
    font-size: 15px;
}

select {
    margin-left: 50px;
    margin-top: 13px;
    width: 350px;
    height: 70px;
    padding-left: 5px;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    color: #646464;
}

select option {
    margin: 10px;
}

.form-buttons {
    width: 600px;
    margin: 80px 0 0 300px;
}

span.select2 {
    margin: 13px 0 0 13px;
}

input.select2-search__field::placeholder {
    padding-left: 10px;
}