{% block html %}
    <h1>Bonjour, {{ user }}</h1>
    <p>Vous venez de recevoir une invitation pour rejoindre DOMMA - Traitement de données de masse.</p>
    <p>Voici : </p>
    <p>Votre identifiant : {{ identifiant }}</p>
    <p>Votre mot de passe : {{ password }}</p>
{% endblock %}

{% block text %}{% endblock %}

{% block subject %}{% endblock %}
