{% block html %}
    <h1>Bonjour, {{ user }}</h1>
    <p>Voici votre nouveau mot de passe: </p>
    <p>Votre mot de passe : {{ password }}</p>
{% endblock %}

{% block text %}{% endblock %}

{% block subject %}{% endblock %}
