{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" id="alerts-container">
            <div class="alert-message">
                {% if label == 'error' %}
                    <i class="fas fa-exclamation-circle"></i>
                {% else %}
                    <i class="far fa-check-circle"></i>
                {% endif %}
                <p>{{ message }}</p>
            </div>
            <i class="fas fa-times" onclick="$('#alerts-container').hide(1000);"></i>
        </div>
    {% endfor %}
{% endfor %}
