<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/067a66096e.js" crossorigin="anonymous"></script>
        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/base.css') }}">{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
