{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/user_index.css') }}">{% endblock %}
{% block title %}DOMMA - Mon profil{% endblock %}

{% block body %}
    <main>
        {{ user.firstName }}


        {# le body sera composé des contextes de travail #}

        {#contexte 0
        contexte 1#}

        <a href="{{ path('admin_new') }}">Create new</a>

    </main>
{% endblock %}
