{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}

    {{ include('_navbar.html.twig') }}

    {{ user.firstName }}
    {% block header %}

        {#  le header sera composé du logo Domma du nom de l'user et de la nav barre #}

        {#logo#}


    {% endblock %}

    {# le body sera composé des contextes de travail #}

    {#contexte 1
    contexte 2#}

    <a href="{{ path('users_new') }}">Create new</a>
    {{ include('_footer.html.twig') }}
{% endblock %}
