{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    {{ user.firstName }}
    {% block header %}

        {#  le header sera composé du logo Domma du nom de l'user et de la nav barre #}

        {#logo#}


    {% endblock %}

    {# le body sera composé des contextes de travail #}

    {#contexte 1
    contexte 2#}



    <footer>Gestion de donnée de masse</footer>

    <a href="{{ path('users_new') }}">Create new</a>
{% endblock %}
