{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/exceptions/errors.css') }}">
{% endblock %}

{% block title %}DOMMA - Accès interdit{% endblock %}

{% block content %}
    <main>
        <a href="{{ path('app_login') }}"><img src="{{ asset('/img/logo.png') }}" alt="Logo"></a>
        <div class="error-page-container">
            <h1>403</h1>
            <p>Accès interdit.</p>
            <a href="{{ path('app_login') }}">Revenir à l'accueil</a>
        </div>
    </main>
{% endblock %}
